.home-section {
  padding: 1rem;
  max-width: 1245px;
    margin: 64px auto 0;
  }


  
  .home-section__header {
    display: flex;
    color: #007BFF;
    align-items: center;
    justify-content: space-between;
  }
  
  .home-section__header h1 {
    padding: 1rem;
  }
  
  .home-section__header #Link {
    color: #007BFF;
    padding: 1rem;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: .2s linear;
  }
  
  .home-section__header #Link:hover {
    background-color: #007BFF;
    color: #ffffff;
  }